.commerce-product-event-add-form .field--name-sku,
.commerce-product-event-add-form .field--name-sku input {
    max-width: 9rem;
}
.commerce-product-event-add-form .field--name-sku .form-item__description {
    display: none;
}
.commerce-product-event-add-form  .form-item--field-stock-0-value input {
    max-width: 5rem;
}
.commerce-product-event-add-form .field--name-price {
    margin-left: 1.5rem;
    margin-right: 1rem;
}
.commerce-product-event-add-form .field--name-price input {
    max-width: 5rem;
}
.commerce-product-event-add-form .field--widget-smartdate-inline .fieldset {
    border: 0;
}
.commerce-product-event-add-form .field--widget-smartdate-inline .fieldset__wrapper {
    margin-left: 0;
}
.commerce-product-event-add-form .field--widget-smartdate-inline .fieldset__label {
    padding-left: 0;
    padding-bottom: 0;
}
